.card{
    border: 2px solid blue;
    border-radius: 10px;
    width: 360px;
    padding: 10px;
    margin: 10px;
    background-color: blue;
    color: white;
    height: 400px;
    overflow: auto;
   

    
}
.card-img{
    width: 100%;
    border-radius: 10px;
    
}

.btn{
    border-radius: 20px;
    color: blue;
    background-color: white;
    padding: 10;
    border: none;
}